extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__top
      .hero__links
        include ../common/socials
    
      .hero__menu
        +hamburger('')

    .hero__title
      .section-title.section-title--hero-title
        include ../common/hero_title_svg

      .hero__user
        include ../common/user

    a(href="#about").down-btn.hero__down-btns

    .hero__triangle
      svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
        polygon(points="0,0 0,86 500.8,86 500.8,75.5").triangle__left.triangle__left_beige
        polygon(points="1000,0 1000,86 500,86 500,75.5").triangle__right.triangle__right_brown
    

  section.about#about
    .about__split
      .about__left
        .about__left-wrapper
          .about__left-title
            +header-svg('--about', '#1057d1')
            h1.block-title Обо мне
          .about__left-content
            .user-description
              .user-description__image
                +image("me-big.jpg", "Мое фото", "user-description__avatar")
              .user-description__data
                .user-description__title
                  h2.block-subtitle Кто я
                .user-description__text.text-content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sunt vero fuga eos illo maiores necessitatibus molestiae unde aut quia, magnam deleniti dolore recusandae quos, facere, iste fugiat eaque ipsa!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sunt vero fuga eos illo maiores necessitatibus molestiae unde aut quia, magnam deleniti dolore recusandae quos, facere, iste fugiat eaque ipsa!

      .about__right
        .about__right-title
          h2.block-subtitle Чем я могу быть вам полезен
        .about__right-description.text-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sunt vero fuga eos illo maiores necessitatibus molestiae unde aut quia, magnam deleniti dolore recusandae quos, facere, iste fugiat eaque ipsa!
        .about__right-content
          -
            var skills = [
              ['Frontend', [['HTML5', 75, 62.75], ['CSS3', 70, 75.3], ['JavaScript & jQuery', 75, 62.75]]],
              ['Backend', [['PHP', 35, 163.15], ['mySQL', 50, 125.5], ['Node.js & npm', 40, 150.6], ['Mongo.db', 10, 225.9]]],
              ['Workflow', [['Git', 40, 150.6], ['Gulp', 50, 125.5], ['Bower', 70, 75.3]]]
            ]
          ul.skills-list
            each skillsrow in skills
              li.skills-list__item.skills-row
                h3.skills-row__title #{skillsrow[0]}
                ul.skills-row__list
                  each skill in skillsrow[1]
                    li.skills-row__item
                      figure.skill(data-percents=`${skill[1]}`)
                        svg(viewBox="0 0 100 100" preserveAspectRation="none").skill__figure
                          circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                          circle(cx="50" cy="50" r="40" stroke-dashoffset=skill[2] opacity= '0.'+skill[1]).skill__circle.skill__circle_above
                        span.skill__title #{skill[0]}
    
  section.map
    .google-map

    .map__data
      .contacts
        .contacts__title
          h2.block-subtitle Контакты
        address.contacts__data
          ul.contacts__list
            -
              var contacts = [
                ['skype_n', 'kirillbizukov'],
                ['phone_n', '+7 951 318 08 89'],
                ['envelope_n', 'kirillbizukov@gmail.com'],
                ['map_n', 'Курск']
              ]
            each item in contacts
              li.contacts__item.contacts-row
                .contacts-row.contacts__icon
                  +icon(`${item[0]}`, 'contacts__icon-img')
                .contacts-row.contacts__description #{item[1]}

  .about__footer--over
    include ../common/footer