extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
  include ../common/swipe-menu
  include ../common/menu
  +hamburger('hamburger--menu')

  section.hero.parallax-bg
    .hero__top
      .hero__links
        +socials('header')
      .hero__menu

    .hero__title.hero__title--blog
      .hero__title-svg-container
        include ../common/hero_title_svg

      .hero__user.hero__user--blog
        .user
          .user__avatar
            include ../common/avatar
          .user__description.hero__description
            h1.hero__title-header.block-title #{title}
            p.user__info Статьи, которые я написал

    a(href="#blog").down-btn.hero__down-btn.hero__down-btn--blog

    .hero__triangle
      svg.triangle(xmlns='http://www.w3.org/2000/svg' x='0px', y='0px', width='100%', height='100%', viewbox='0 0 2032 175.368')
        polygon(fill='#faf8f0', points='2032,177.368 2032,0 1016,175 0,0 0,177.368')

  section.blog#blog
    aside.blog__nav
      nav.nav.nav--blog
        ul.nav__list
          -
            var articles = [
              ['sass-important', 'Самое важное в SASS', '22 ноября 2016'],
              ['page-proofs', 'Приёмы в вёрстке, без которых не обходится ни один сайт', '13 ноября 2016'],
              ['gulp-plugins', 'Самый необходимый набор Gulp плагинов', '8 ноября 2016'],
              ['why-pug', 'Почему я выбрал Pug', '14 октября 2016']
            ]

          each article, index in articles
            li.nav__item(name=`${index}`)
              a.nav__link(href=`#${article[0]}`)= article[1]

    .blog__main
      .blog__articles

        each article, index in articles
          article.article.blog__article(id=`${article[0]}` data-idtitle=`${index}`)
            h2.article__header.block-subtitle.block-subtitle--article= article[1]
            .article__date= article[2]
            .article__text
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
          .article-divider

  include ../common/footer