extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__top
      .hero__links
        include ../common/socials
    
      .hero__menu
        a(href="").hamburger.inlined-svg

    .hero__title
      .section-title.section-title--hero-title
        include ../common/hero_title_svg

      .hero__user.hero__user--blog
        .user
          .user__avatar
            include ../common/avatar
          .user__description
            h1.hero__title-header.block-title.title #{title}
            p.user__info Статьи, которые я написал

    .hero__triangle
      svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
        polygon(points="0,0 0,86 500.8,86 500.8,75.5").triangle__left.triangle--blog
        polygon(points="1000,0 1000,86 500,86 500,75.5").triangle__right.triangle--blog
    

  section.blog
    aside.blog__nav
      nav.nav.nav--blog
        ul.nav__list
          -
            var articles = [
              ['#sass-important', 'Самое важное в SASS', '22 ноября 2016'],
              ['#page-proofs', 'Приёмы в вёрстке, без которых не обходится ни один сайт', '13 ноября 2016'],
              ['#gulp-plugins', 'Самый необходимый набор Gulp плагинов', '8 ноября 2016'],
              ['#why-pug', 'Почему я выбрал Pug', '14 октября 2016']
            ]

          each article in articles
            li.nav__item
              a.nav__link(href=`${article[0]}`)= article[1]

    .blog__main
      .blog__articles

        each article in articles
          article.article.blog__article(href=`${article[0]}`)
            h2.article__header.block-subtitle.block-subtitle--article= article[1]
            .article__date= article[2]
            .article__text
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quaerat quisquam, nemo ipsa sequi modi distinctio ipsam exercitationem officia earum fugit doloremque eos labore ipsum libero voluptatibus. Molestias, placeat vero.
          .article-divider

  include ../common/footer