extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  include ../common/menu
  +hamburger('hamburger--menu')

  section#top.works-background.parallax-bg

  section.hero.hero--works
    .hero__top
      .hero__links
        +socials('header')
      .hero__menu

    .hero__title.hero__title--works
      .hero__title-svg-container.hero__title-svg-container--works
        include ../common/hero_title_svg

      .hero__user.hero__user--works
        include ../common/user

    #down-btn-container
      anchor-button(
        classes="down-btn hero__down-btn hero__down-btn--works"
        scrollToElem="works"
      )

    .hero__bottom
      .hero__triangle
        svg.triangle.triangle--works(version='1.1', xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 2032 193.7', xml:space='preserve')
          polygon(fill-rule='evenodd', clip-rule='evenodd', points='2032,193.7 2032,0 1016,173 0,0 0,193.7')

  section.works-title#works
    +header-svg('--works', '#fff')
    h1.block-title.block-title--works Мои работы
  
  section.slider-container
    #slider-component
    
  section.testimonials
    .testimonials__header
      h1.block-title.testimonials__title Что обо мне говорят
      .testimonials__icon
        include ../common/stars3

    .mentions
      ul.mentions__list
        -
          var mentions = [
            ['dima.png', 'Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 5 недель только самых тяжелых испытаний и бессонных ночей!', 'Ковальчук Дмитрий', 'основатель Loftschool'],
            ['vova.png','Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!', 'Сабанцев Владимир', 'преподаватель']
          ]
        each mention in mentions
          li.mentions__item
            .mentions__item-container
              +image('quotes.png', 'кавычки', 'mentions__bg-pic')
              .mentions__icon
                +image(`${mention[0]}`, `${mention[2]}`, 'mentions__icon-img')
              blockquote.mentions__quote #{mention[1]}
              .mentions__author #{mention[2]}
              cite.mentions__description &mdash; #{mention[3]}

    #contact-me-container

    #up-btn-container
      anchor-button(
        classes="down-btn down-btn--reverted works-scroll-top-btn"
        scrollToElem="top"
      )

  .works__footer--over
    include ../common/footer